html, body {
  height: 100%;
  margin: 0;
}

.left {
  width: 20%;
  height: 100%;
  position: fixed;
}

.right {
  width: 80%;
  height: auto;
  position: absolute;
  right: 0;
}

li {
  margin-bottom: 100px;
}